* {
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.main {
   height: 100vh;
   width: 100%;
   margin-left: 1rem;
}

.field {
   display: flex;
   flex-direction: column;
   width: 20%;
}

.field > input {
   margin-top: 1rem;
   padding: 5px 5px;
}

.main button {
   margin-top: 1rem;
   padding: 5px;
}

button {
   margin: 0 1px;
   cursor: pointer;
}

h3 {
   padding-top: 1rem;
}
